.error-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.error-left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-left: 10rem;
    width: 25rem;
    /* border: 1px solid black; */
}
.error-left-box p{
    width: 12rem;
}
.error-right-box{
    padding: 2rem;
}

.error-img{
    height: 90vh;
}

.app-header{
    text-align: center;
}

.users-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: auto;
    justify-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.cards{
    /* border: 1px solid black; */
    width: 20rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding: .9rem;
}

.user-form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
    gap: .8rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 2rem;
    border-radius: 20px;
}

.create-user-header{
    text-align: center;
}

.name{
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    font-size: .8rem;
    height: 2rem;
    padding-left: 10px;
    width: 15rem;
}
.email{
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    font-size: .8rem;
    height: 2rem;
    padding-left: 10px;
    width: 15rem;
}
.number{
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    font-size: .8rem;
    height: 2rem;
    padding-left: 10px;
    width: 15rem;
}


.toggle-wrapper{
    width: 22rem;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.edit-btn{
    margin-right: .8rem;
}






  
  @media only screen and (max-width: 992px) {
      /* Styles for small laptops and tablets */
      .cards{
          width: 15rem;
        }
        .cards p{
            font-size: .8rem;
        }
    }


    @media only screen and (max-width: 768px) {
        /* Styles for tablets and large phones */
        .users-wrapper{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-bottom: 2rem;
        }
        .cards{
            width: 16rem;
        }
      }

      @media only screen and (max-width: 480px) {
        /* Styles for small mobile phones */
        .wrapper{
            width: 90%;
            margin: auto;
        }
        .users-wrapper{
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .user-form{
            width: 15rem;
            margin: auto;
            padding: 1rem;
        }
        .user-form label{
            font-size: .8rem;
        }
        .name{
            width: 9rem;
        }
        .email{
            width: 9rem;
        }
        .number{
            width: 7rem;
        }
        /* .users-wrapper{
            width: 80%;
            margin: auto;
            gap: .5rem;
        } */
        .cards{
            width: 12rem;
            margin-top: 1rem;
        }
        .cards p{
            margin: 0;
            padding: .2rem;
        }
        .edit-btn{
            width: 3rem;
            padding: .2rem .2rem;
        }
        .delete-btn{
            width: 4rem;
            padding: .2rem .2rem;
            margin: 0;
        }
      }

      @media only screen and (max-width: 320px){
        .app-header{
            font-size: 1.5rem;
        }
        .cards{
            width: 10rem;
        }
        .user-form{
            width: 11rem;
        }
        .number{
            width: 9rem;
        }
      }